---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About me"
  description="Imprint of psimms.de"
  pubDate={new Date("August 31 2025")}
  heroImage={AboutHeroImage}
  tags={[]}
>
  <p>
    I am a product engineer living in the most beautiful city in the world, <a
      href="https://en.wikipedia.org/wiki/Hamburg"
      target="_blank">Hamburg</a
    >, Germany. My current position is product engineer at <a
      target="_blank"
      href="https://www.esome.com/de/digital-marketing-solutions/"
      >esome advertising technologies GmbH</a
    >, an agency for delivering social & connected TV advertising campaigns. My
    work currently focusses on <a href="https://viiew.de" target="_blank"
      >viiew.de</a
    >, a platform for planning connected TV (CTV) campaigns.
  </p>
  <h2>Work</h2>
  <p>
    Initially I focussed on frontend website development (<a
      href="https://craftcms.com/">craft CMS</a
    >, <a href="https://tailwindcss.com/">tailwindcss</a> and <a
      href="https://twig.symfony.com/">twig</a
    >) but quickly started to dive into Fullstack Web Development (<a
      href="https://nodejs.org/en">node.js</a
    >, <a href="https://symfony.com/">Symfony</a>, <a href="https://react.dev/"
      >react</a
    > and <a href="https://vuejs.org/">Vue.js</a>) which is until now my most
    proficient field. I also was able to gained some experiences with data
    engineering (<a href="https://www.getdbt.com/product/what-is-dbt">dbt</a>, <a
      href="https://trino.io/">trino</a
    > and <a href="https://github.com/dagster-io/dagster">dagster</a>)
  </p>
  <p>
    From the product perspective I have experience in B2C ecommerce and the
    advertising agency business. During my work, I use a systematic approach for
    product discovery and product delivery. I've worked in several setups
    including SCRUM, XP (<a
      href="https://asana.com/resources/extreme-programming-xp"
      >Extreme Programming</a
    >) or Kanban.
    <p>
      I shine in problem areas where product approaches can be combined with
      engineering skills to deliver results as effective as possible.
    </p>
  </p>
  <h2>Career</h2>
  <p>
    Since my early times at university, I try to fit my passion for product and
    software engineering under one umbrella. I started in fashion B2C ecommerce
    product management, then switched companies to my current employer.
  </p>
  <p>
    There I learned a lot about digital advertising and adtech, which allowed me
    to work on different tools and products. These consist out of internal
    efficiency tools for e.g. Reporting & Controlling as well as external-facing
    self-service tools tools for campaign planning, dashboarding or Campaign
    Creation.
  </p>
  <h2>Leisure</h2>
  <p>
    In my spare time, I enjoy cooking, especially Neapolitan pizza and Mexican
    cuisine. I also spend time playing video games or watching all kinds of
    movies. Feel free to connect with me on <a
      href="https://letterboxd.com/permronin/">Letterboxd</a
    >!
  </p>
  <h2>Website</h2>
  <p>
    This is my gazillionth attempt of a tech-stack for a personal blog which is
    easy to write content for, and allows me to learn a new technology. Earlier
    attempts involve self-build CMS with Symfony, Ghost Blog and Hugo. Lets see
    how this Astro & React Stack develops over time..
  </p>
</Layout>
