---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Imprint"
  description="Imprint of psimms.de"
  pubDate={new Date("August 31 2025")}
  heroImage={AboutHeroImage}
  tags={[]}
>
  <h2>Service Provider</h2>
  <p>Patrik Simms</p>
  <p>Lokstedter Steindamm 96</p>
  <p>22529 Hamburg Deutschland</p>
  <h2>Kontaktmöglichkeiten</h2>
  <p>
    email: <a href="mailto:patriksimms@outlook.de">patriksimms@outlook.de</a>
  </p>
</Layout>
